<!DOCTYPE html>
<html>
<head>
	<title>找不到对应资源</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<% include navbar.ejs %>
	<div class="container" style="margin-top: 100px">
		<div class="jumbotron">
			<h1>404 Not Found</h1>
			<p>你请求的资源不存在</p>
		</div>
	</div>
</body>
</html>