
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/hash.js"></script>
    <title>bookstore图书小店</title>