.book, .recent{
	padding: 12px 0;
	display:block;      
	vertical-align:middle;   
}
.book:after, .recent:after{
	content: "";
	display: block;
	clear: both;
}
.book:hover, .recent:hover{
	background-color: #dfdfdf;
}
hr{
	margin: 0;
}
.book .btn{
	padding: 0;
}
.book-avatar a {
	display: block;
}