@charset 'utf-8';
html {
  width: 100%;
}
body {
  background-color: #f0f0f0;
}
a {
  color: #666;
}
.required {
  font-weight: bold;
  font-size: 14px;
  color: red;
}
/* 首页书籍列表页 */
.book {
  padding: 12px 0;
  display: block;
  vertical-align: middle;
}
.book:after {
  content: "";
  display: block;
  clear: both;
}
.book:hover {
  background-color: #dfdfdf;
}
.book .btn {
  padding: 0;
}
hr {
  margin: 0;
}
.book-avatar a {
  display: block;
}
.book-description,
.book-caption,
.book-time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 评论区 */
#commentArea {
  margin-bottom: 20px;
}
.comment-item {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}
.comment-item:first-child {
  padding-top: 10px;
  border-top: 1px dotted #ddd;
}
.comment-item .critic-avatar img {
  width: 60px;
}
.comment-item .comment-main {
  display: flex;
  margin-left: 10px;
  flex: auto;
  flex-flow: column nowrap;
}
.comment-item .comment-info {
  display: flex;
  justify-content: space-between;
}
/* 个人书籍列表页 */
.personal-book-list {
  margin-top: 150px;
}
.personal-book-list img {
  height: 200px;
}
.avatar {
  position: relative;
}
.avatar img {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  top: -60px;
  left: -60px;
}
.avatar .lead {
  padding-left: 60px;
}
/* 书籍内容页 */
#container {
  margin-top: 86px;
  width: 1000px;
}
#container > .lead {
  border-top: 1px solid #999;
}
.title-list {
  position: fixed;
  top: 0;
  left: -1px;
  height: 100vh;
  padding-top: 57px;
  overflow: auto;
  z-index: 1000;
  border: 1px solid #ddd;
  width: 200px;
  text-align: left;
  background-color: #fefefe;
}
.title-list .title-item {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-width: 1px 0;
  margin-top: -1px;
}
.title-list + #container {
  margin-left: 240px;
}
.pager a {
  cursor: pointer;
}
/* 单书籍详情页 */
#personal-book .book-poster img {
  max-height: 300px;
}
#personal-book > div:nth-child(1) {
  margin-bottom: 20px;
}
#personal-book .book-read {
  padding-top: 20px;
}
#personal-book .book-read .btn {
  padding: 15px 0;
  font-size: 1em;
  box-shadow: 5px 5px 10px #419641;
  position: relative;
  transition: top 0.1s ease;
}
#personal-book .book-read .btn:active {
  box-shadow: none;
  top: 5px;
}
/* 新增章节页 */
.preview-area {
  padding: 0 35px 0 10px;
  border-right: 1px solid #ddd;
}
.preview-area h3 {
  border-bottom: 1px solid #ddd;
}
#preview {
  background-color: #f8f8f8;
  height: 500px;
  overflow: auto;
  word-wrap: break-word;
}
/* 私人书籍列表页 */
.private-book-list img {
  height: 200px;
}
/* 个人信息 */
.user-avatar {
  width: 120px;
  height: 120px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}
.user-avatar:focus {
  outline: none;
}
.user-avatar img {
  display: block;
  width: 120px;
  height: 120px;
}
.user-avatar:hover .wrap {
  display: block;
}
.wrap {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120px;
  text-align: center;
  color: #ddd;
  font-size: 20px;
}
.info {
  margin: 5px;
  padding: 5px;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #ddd;
}
.file-wrap {
  position: relative;
  background-color: #5bc0de;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
}
.file-wrap input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
@media screen and (max-width: 1050px) {
  /* 个人书籍列表页 */
  .avatar img {
    top: -90px;
    left: 40%;
  }
  .avatar .lead {
    padding-left: 0;
  }
  /* 书籍内容页 */
  #container {
    width: 96%;
  }
  #container > .lead {
    border-top: 1px solid #999;
  }
  .title-list {
    display: none;
  }
  .title-list + #container {
    margin-left: 0;
  }
}
@media screen and (max-width: 568px) {
  /* 首页书籍列表页 */
  a.book {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .book > * {
    padding: 0 5px;
  }
  .book-avatar {
    width: 48px;
  }
  .book-avatar img {
    border-radius: 50%;
    vertical-align: text-bottom;
  }
  .book-caption {
    width: 86px;
    font-size: 12px;
  }
  .book-time {
    width: 100px;
  }
  /* 单书籍详情页 */
  #personal-book .book-poster + div.lead > div {
    font-size: 18px;
    margin: 10px 0;
  }
  /* 个人书籍列表页 */
  .personal-book-list {
    margin-top: 200px;
  }
  .avatar img {
    top: -144px;
    left: 30%;
  }
  /* 书籍内容页 */
  #container small.h5 {
    display: block;
  }
}
