@charset 'utf-8';
body {
  background-color: #f0f0f0;
  min-width: 1000px;
}
a {
  color: #666;
}
.required {
  font-weight: bold;
  font-size: 14px;
  color: red;
}
.book-description,
.book-caption,
.book-time,
.book-caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment-item {
  margin-bottom: 10px;
}
.avatar {
  position: relative;
}
.avatar img {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  top: -60px;
  left: -60px;
}
.avatar .lead {
  padding-left: 60px;
}
#container {
  margin-top: 86px;
  width: 1000px;
}
#container > .lead {
  border-top: 1px solid #999;
}
.title-list {
  position: fixed;
  top: 0;
  left: -1px;
  height: 100vh;
  padding-top: 57px;
  overflow: auto;
  z-index: 1000;
  border: 1px solid #ddd;
  width: 200px;
  text-align: left;
  background-color: #fefefe;
}
.title-list .title-item {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-width: 1px 0;
  margin-top: -1px;
}
.title-list + #container {
  margin-left: 240px;
}
